.wrapper {
  overflow-x: scroll;
}

.table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;

  tr {
    border-bottom: 1px solid var(--divider);
    // grid-template-columns: 200px repeat(8, 1fr);
    min-height: 3.4rem;
    width: 100%;

    th {
      white-space: nowrap;
    }
  
    td, th {
      font-size: 1.2rem;
      padding: 5px 20px 5px 10px;
      overflow: hidden;
      text-align: right;
      vertical-align: middle;
  
      &.name {
        font-size: 1.4rem;
        min-width: 20rem;
        text-align: left;
      }
  
      img {
        border-radius: 4px;
        margin-right: 12px;
        width: 24px;
      }
    }
  }
}

.rowHeader { 
  .name {
    text-align: left;
  }
  
  .sortable {
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.02);
      background-image: url('../../images/long-arrow-alt-down-solid.png');
      background-repeat: no-repeat;
      background-position: right 5px center;
      background-size: 6px;
    }
  }

  .sortDesc {
    background-image: url('../../images/long-arrow-alt-down-solid.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 6px;

    &:hover {
      background-image: url('../../images/long-arrow-alt-down-solid.png');
    }
  }

  .sortAsc {
    background-image: url('../../images/long-arrow-alt-up-solid.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 6px;

    &:hover {
      background-image: url('../../images/long-arrow-alt-up-solid.png');
    }
  }
}
