.header {
  background-color: var(--rich-black-fogra-39-2);
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 10px 0;

  a {
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
      color: var(--text-secondary);
    }
  }

  h1 {
    display: inline-block;
    font-size: 1.6rem;

    img {
      max-width: 20rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .header {
    margin-bottom: 5rem;
    padding: 20px 0;
  }
}